
name: Build and Push Base Bitcoin

on:
  workflow_dispatch:

jobs:
  build-and-publish-bitcoin:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Optional: free some disk space on the runner
      - name: Docker prune
        run: docker system prune -af || true

      # Enable emulation to build arm64 on amd64 runner
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v6
        with:
          context: ./bitcoin-lab
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ toLower(github.repository_owner) }}/bitcoin-lab:latest
            ghcr.io/${{ toLower(github.repository_owner) }}/bitcoin-lab:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false
