name: Build and Push Mempool

on:
  workflow_dispatch:

jobs:
  build-and-publish-bitcoin-mempool:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }} 

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: bitcoin-mempool
          push: true
          tags: ghcr.io/${{ github.actor }}/bitcoin-mempool:latest 
          cache-from: type=registry,ref=ghcr.io/${{ github.actor }}/bitcoin-mempool:latest 
          cache-to: type=registry,ref=ghcr.io/${{ github.actor }}/bitcoin-mempool:latest ,mode=max

  